.stage {
    perspective: 160px;
    height: 800px;
    overflow: hidden;
    width: 100%;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 1em;
    letter-spacing: 1px;
    border-bottom: 2px solid #eee;
    text-align: center;
    margin: 0;
    padding: .5em 0;
    margin-bottom: .5em;
}

.container {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    /* transform:translate(50%,50%)  */
    
    transition: transform .8s ease-in;
}

.panel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-rendering: optimizeLegibility;
    color: #fff;
    font-size: 1em;
    background: #fff;
}

.panel-a {
    background: #fff;
    transform: rotateY(0) translateZ(80px) scale(0.5);
}

.panel-b {
    background: #fff;
    transform: rotateY(120deg) translateZ(80px) scale(0.5);
}

.panel-c {
    background: #fff;
    transform: rotateY(240deg) translateZ(80px) scale(0.5);
}

.btn {
    position: absolute;
    z-index: 100;
    font-family: 'Neuton', serif;
    font-size: 2em;
    color: #000;
    padding: 0 0.5em;
    text-decoration: none;
    &:hover {
        color: #666;
    }
}

.btn-prev {
    left: 0;
}

.btn-next {
    right: 0;
}

.posts {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    counter-reset: ol-counter;
    width: 100%;
    max-width: 800px;
}

.post {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875em;
    margin-bottom: .5em;
    border-left-width: 3px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-style: solid;
    .posts-hacker-news & {
        border-left-color: #ff6600;
        &:before {
            background-color: #ff6600;
        }
        a:hover {
            span {
                color: #ff6600;
            }
        }
    }
    .posts-designer-news & {
        border-left-color: #2D72D9;
        &:before {
            background-color: #2D72D9;
        }
        a:hover {
            span {
                color: #2D72D9;
            }
        }
    }
    .posts-product-news & {
        border-left-color: #DA552F;
        &:before {
            background-color: #DA552F;
        }
        a:hover {
            span {
                color: #DA552F;
            }
        }
    }
    a {
        display: block;
        background: #fff;
        padding: 0.5em;
        text-decoration: none;
        color: #555;
        &:visited {
            span {
                color: #999;
            }
        }
        span {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            color: #4d4d4d;
            transition: color .5s;
            small {
                color: #8d8d8d;
                margin-left: 0.5em;
            }
        }
    }
}

footer {
    margin-bottom: 1em;
}

.author,
.built-info {
    margin: 3px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Lobster', cursive;
    color: #999;
    font-size: 0.75em;
    a {
        color: #999;
        font-size: 0.875em;
        text-decoration: none;
        transition: transform .5s;
        display: inline-block;
    }
}

.author a:hover {
    transform: scale(1.5);
}

.heart {
    color: pink;
    animation: heartbeat 0.4s ease infinite;
    display: inline-block;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

@media screen and (min-width: 415px) {
    h1 {
        font-size: 3em;
        letter-spacing: 1px;
        border-bottom: 2px solid #eee;
        text-align: center;
        margin: 0;
        padding: .5em 0;
        margin-bottom: .5em;
    }
    .btn {
        display: block;
        top: 0%;
        font-size: 5em;
    }
    .stage {
        perspective: 600px;
        height: 1000px;
    }
    .panel-a {
        transform: rotateY(0) translateZ(300px) scale(0.5);
    }
    .panel-b {
        transform: rotateY(120deg) translateZ(300px) scale(0.5);
    }
    .panel-c {
        transform: rotateY(240deg) translateZ(300px) scale(0.5);
    }
    .post {
        font-size: 1em;
        &:before {
            content: counter(ol-counter);
            counter-increment: ol-counter;
            float: left;
            display: block;
            padding: 0.5em 5px;
            width: 30px;
            margin-right: 0.5em;
            text-align: center;
            color: #fff;
            // transition: width 0.5s
        }
    }
}

@media screen and (min-width: 1000px) {
    .btn {
        display: block;
        top: 40%;
        position: fixed;
        font-size: 5em;
    }
}
