doctype
html
  head
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width, target-densitydpi=medium-dpi, initial-scale=1.0, user-scalable=no")
    title StayLoop (Hacker News, Designer News and Product Hunt in one :)
    link(rel='stylesheet', type='text/css', href='css/base2.css')
    link(href='http://fonts.useso.com/css?family=Neuton|Lobster|Open+Sans', rel='stylesheet', type='text/css')

  body
    a#btn-next.btn.btn-next(href='javascript:void(0);') >
    a#btn-prev.btn.btn-prev(href='javascript:void(0);') <
    h1
      | StayLoop
    .stage
      #c.container

        .panel.panel-b
          ol.posts.posts-hacker-news
            each val in hackerNews
              li.post
                a(href="#{val.url}",title="#{val.title}",target="_blank")
                  span #{val.title}
        .panel.panel-a
          ol.posts.posts-designer-news
            each val in designerNews
              li.post
                a(href="#{val.url}",title="#{val.title}",target="_blank")
                  span #{val.title}
        .panel.panel-c
          ol.posts.posts-product-news
            each val in designerNews
              li.post
                a(href="#{val.url}",title="#{val.title}",target="_blank")
                  span #{val.title}
    footer
      p.author
        | nicolazj
      p.built-info
        | built with
        span.heart ♥
    script.
      var btnPrev = document.getElementById('btn-prev');
      var btnNext = document.getElementById('btn-next');

      var ctn = document.getElementById('c');
      var deg = 0;

      var rotatePanel = function() {
          ctn.style.transform = " rotateY(" + deg + "deg)";
          ctn.style.webkitTransform = " rotateY(" + deg + "deg)";
      };

      btnPrev.addEventListener('click', function() {
          deg+= 120;
          rotatePanel();
      });
      btnNext.addEventListener('click', function() {
          deg -= 120;
          rotatePanel();
      });
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-57651295-1', 'auto');
        ga('send', 'pageview');
